---
import "+style@font-setup.css";
import "+style@globals.css";

interface Props {
    title: string;
    description: string;
    og: {
        image: string;
        title: string;
        description: string;
        type: string;
    };
    twitter: {
        card: string;
        creator: string;

        image: string;
        title: string;
        description: string;
    };
    robots: string;
    theme: string;
    author: string;
    keywords: string[];
}

const { title, description, og, twitter, robots, theme, author, keywords } =
    Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords.join(", ")} />
        <meta name="author" content={author} />
        <meta name="robots" content={robots} />
        <meta property="og:title" content={og.title} />
        <meta property="og:description" content={og.description} />
        <meta property="og:image" content={og.image} />
        <meta property="og:type" content={og.type} />
        <meta name="twitter:card" content={twitter.card} />
        <meta name="twitter:creator" content={twitter.creator} />
        <meta name="twitter:title" content={twitter.title} />
        <meta name="twitter:description" content={twitter.description} />
        <meta name="twitter:image" content={twitter.image} />
        <meta name="theme-color" content={theme} />
        <link rel="icon" href="/logo.png" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
            let initial = localStorage.getItem("theme");
            if (initial === null) {
                initial = window.matchMedia("(prefers-color-scheme: dark)")
                    .matches
                    ? "dark"
                    : "light";
            }
            document.documentElement.classList.add(initial);

            const root = document.querySelector(":root");
            if (initial === "dark") {
                root.style.setProperty("--from", "#2c243c");
                root.style.setProperty("--via", "#241c3c");
                root.style.setProperty("--to", "#181526");
                root.style.setProperty("--thumb", "#4d485e ");
            } else {
                root.style.setProperty("--from", "#e8dcf9");
                root.style.setProperty("--via", "#e9e5fe");
                root.style.setProperty("--to", "white");
                root.style.setProperty("--thumb", "#c7c5d2");
            }
        </script>
    </head>
    <body class="bg-white text-black dark:bg-black dark:text-white">
        <slot />
    </body>
</html>
